<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
		<link rel="stylesheet" type="text/css" href="dashboard.css"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="headerWrapper">
			<div class="header">
				<%= image_tag 'karmic-logo.svg', class: 'logo' %>
				<div class="navLinks">
					<a class="navLink" href="#"><div>Search</div></a>
					<a class="navLink" href="#"><div>Welcome <%= current_user.name %></div></a>
				</div>
			</div>
		</div>
		<div class="heroWrapper">
			<div class="hero">
				<h1>Dashboard</h1>
			</div>
		</div>
		<div class="dashboardWrapper">
			<div class="postFeed">
				<h2 class="feedHead">Recent Posts in Your Community</h2>
				<% @posts.each do |post| %>
					<div class="post givePost">
						<img src=<%= get_gravatar(post.user)%> class="feedProfilePic"/>
						<div class="feedTextBox">
							<h3 class="postTitle"><%= post.title %></h3>
							<p><%= post.description %></p>
							<%= link_to post_path post do %>
								<div class="postButton">View Full Post</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="sidebar">
				<h1>Welcome <%= current_user.name %>!</h1>
				<ul>
					<a href="#"><li>New Post</li></a>
					<a href="#"><li>Edit Profile</li></a>
					<a href="#"><li>Search</li></a>
				</ul>
				<ul>
					<li class="listHeader">Your Posts</li>
					<a href="#"><li>Open Posts</li></a>
					<a href="#"><li>Current Posts</li></a>
					<a href="#"><li>Completed Posts</li></a>
				</ul>
				<ul>
					<li class="listHeader">Notifications</li>
					<a href="#"><li>Request for Contact Info</li></a>
					<a href="#"><li>Review Required</li></a>
					<a href="#"><li><i>View more ></i></li></a>
				</ul>
			</div>
		</div>
		<footer><h5>&#169; Copyright Karmik 2014. All Rights Reserved.</h5></footer>
	</body>
</html>
