<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
		<%= stylesheet_link_tag 'dashboard.css' %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="headerWrapper">
			<div class="header">
				<%= image_tag 'karmic-logo.svg', class: 'logo' %>
				<div class="navLinks">
					<%= link_to search_index_path, class: 'navLink' do%>
					<div>Search</div>
					<% end %>
					<%= link_to profile_path(current_user), class: 'navLink' do %>
             <div>Welcome <%= current_user.name %></div>
          <% end %>
          <% if user_signed_in? %>
						<%= link_to destroy_user_session_path, method: :delete, class: 'navLink' do %>
							<div>Sign Out</div>
						<% end %>
					<% end %>
					<form action="" method="POST">
					  <script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="pk_test_VA8Gg7GG9kMwVekeBFtgrPNC"
					    data-amount="500"
					    data-name="Karmik"
					    data-description="Donate $5!"
					    data-image="/64x64.png">
					  </script>
					</form>
				</div>
			</div>
		</div>
		<div class="heroWrapper">
			<div class="hero">
				<h1>Dashboard</h1>
			</div>
		</div>
		<div class="dashboardWrapper">
			<div class="postFeed">
				<h2 class="feedHead">Recent Posts in Your Community</h2>
				<% @posts.each do |post| %>
					<div class="post givePost">
						<img src=<%= get_gravatar(post.user ? post.user : post.buyer)%> class="feedProfilePic"/>
						<div class="feedTextBox">
							<h3 class="postTitle"><%= post.title %></h3>
							<p><%= post.description %></p>
							<%= link_to post_path post do %>
								<div class="postButton">View Full Post</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="sidebar">
				<h1>Welcome <%= current_user.name %>!</h1>
				<ul>
					<a href="#"><li>New Post</li></a>
					<a href="#"><li>Edit Profile</li></a>
					<%= link_to search_index_path do%>
					<li>Search</li>
					<% end %>
				</ul>
				<ul>
					<li class="listHeader">Your Posts</li>
					<a href="#"><li>Open Posts</li></a>
					<a href="#"><li>Current Posts</li></a>
					<a href="#"><li>Completed Posts</li></a>
				</ul>
				<ul>
					<li class="listHeader">Notifications</li>
					<a href="#"><li>Request for Contact Info</li></a>
					<a href="#"><li>Review Required</li></a>
					<a href="#"><li><i>View more ></i></li></a>
				</ul>
			</div>
		</div>
		<footer><h5>&#169; Copyright Karmik 2014. All Rights Reserved.</h5></footer>
	</body>
</html>
