<h1>Profile</h1>
<br>
<h2>About</h2>
<br>
<h2>Needs</h2>
<br>
<h2>Service</h2>
<br>
<h2>Reviews</h2>
<p>Find me in app/views/profiles/show.html.erb</p>
<%= @user.name %>
<br>
<%= @user.email %>
<br>
<%= @user.city %>
<br>
<%= @user.state %>
<br>
<%= @user.website %>
<br>
<%= @user.twitter %>
<br>
<%= @user.facebook %>
<br>
<%= @user.phone %>
<br>
<%= @user.updated_at %>
<br>
<%= @user.role %>
<br>
<% @user.reviews.each do |review| %>
  <%= review.feedback %>
<% end %>
<br>
