<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
		<%= stylesheet_link_tag 'profile.css' %>
				<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="headerWrapper">
			<div class="header">
				<%= image_tag 'karmic-logo.svg', class: 'logo' %>
				<div class="navLinks">
					<%= link_to search_path, class: 'navLink' do%>
						<div>Search</div>
					<% end %>
					<%= link_to profile_path(current_user), class: 'navLink' do %>
             			<div><%= current_user.name %></div>
          			<% end %>
          			<% if user_signed_in? %>
						<%= link_to destroy_user_session_path, method: :delete, class: 'navLink' do %>
							<div>Sign Out</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<form>s
		<div class="heroWrapper">
			<div class="hero">
				<div class="userHero">
					<img src=<%= get_gravatar(current_user)%> class="pictureHero"/>
					<div class="namePlaceHero">
						<h2 class="nameHero"><%= @user.name %></h2>
						<h2 class="placeHero"><%= @user.city %></h2>
					</div>
				</div>
				<div class="statHero">
					
				</div>
			</div>
		</div>
		<div class="dashboardWrapper">
			<div class="feedWrapper">
				<div class="feedBox">
					<h3>About Me</h3>
					<p>Laborum organic 90's McSweeney's elit dolore. Ethnic cray Banksy kitsch Brooklyn 90's blog trust fund. Neutra 3 wolf moon XOXO esse, ethnic church-key Pitchfork dolore fixie tempor nihil Portland tousled. Cupidatat commodo occupy, artisan readymade VHS typewriter next level raw denim skateboard aliquip blog biodiesel fugiat fashion axe. Wolf duis freegan bespoke fashion axe. Brunch art party beard pickled chillwave. Quis id sapiente cred velit laboris.</p>
					<h3>Skills and Interests</h3>
					<p class="orange">Lorem, ipsum, dolor, sit, amet, consectetur, adipiscing, elit, Integer</p>
					<h3>Reviews</h3>
					<div class="reviewBox">
						<div class="reviewLeft">
							<img src="http://placehold.it/70x70" class="reviewPicture"/>
							<div class="reviewRating"><i class="fa fa-smile-o"></i></div>
							<p class="reviewName"><b>Michael M.</b></p>
							<p class="reviewPlace">San Luis Obispo, CA</p>
						</div>
						<div class="reviewRight">
							<p>Cillum salvia odio, exercitation esse ethical semiotics irure whatever mlkshk keffiyeh tote bag bespoke. Mlkshk magna fashion axe Schlitz, craft beer try-hard deep v nihil. Echo Park excepteur chambray biodiesel, PBR&B squid Wes Anderson nostrud seitan mixtape Thundercats. Velit fap Tumblr cred, enim Neutra blog chillwave. Dolor sunt Terry Richardson cliche, Tumblr nostrud American Apparel delectus Helvetica cardigan.</p>
						</div>
					</div>
					<hr>
					<div class="reviewBox">
						<div class="reviewLeft">
							<img src="http://placehold.it/70x70" class="reviewPicture"/>
							<div class="reviewRating"><i class="fa fa-smile-o"></i></div>
							<p class="reviewName"><b>Michael M.</b></p>
							<p class="reviewPlace">San Luis Obispo, CA</p>
						</div>
						<div class="reviewRight">
							<p>Cillum salvia odio, exercitation esse ethical semiotics irure whatever mlkshk keffiyeh tote bag bespoke. Mlkshk magna fashion axe Schlitz, craft beer try-hard deep v nihil. Echo Park excepteur chambray biodiesel, PBR&B squid Wes Anderson nostrud seitan mixtape Thundercats. Velit fap Tumblr cred, enim Neutra blog chillwave. Dolor sunt Terry Richardson cliche, Tumblr nostrud American Apparel delectus Helvetica cardigan.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebarWrapper">
				<div class="sidebar">
					<div class="postFeed">
						<h2 class="feedHead">Open Posts</h2>
						<% if @posts.empty? %>
						<h2 class="feedHead"><i>No posts found. :'( </i></h2>
						<% else %>
						<h2 class="feedHead">Recent Posts in Your Community</h2>
						<% @posts.each do |post| %>
							<div class="post <%= post.created_by==post.user ? 'takePost' : 'givePost' %>">
								<img src=<%= get_gravatar(post.created_by)%> class="feedProfilePic"/>
								<div class="feedTextBox">
									<h3 class="postTitle"><%= post.title %></h3>
									<p><%= post.description %></p>
									<%= link_to post_path post do %>
										<%= link_to post_connect_path post do %><div class="postButton">Connect</div><% end %><%= link_to profile_path(post.created_by) do %><div class="viewButton">View Profile</div><% end %>
									<% end %>
								</div>
							</div>
						<% end %>
						<% end %>
						<a href=""><div class="shoveToRight orange">View All ></div></a>
					</div>
				</div>
			</div>
		</div>
		</form>
		<footer><h5>&#169; Copyright Karmik 2014. All Rights Reserved.</h5></footer>
	</body>
</html>

<!--<h1>Profile</h1>
<br>
<h2>About</h2>

<%= @user.name %>
<br>
<%= @user.email %>
<br>

<% unless @user.city.nil? %>
<%= @user.city %> <br>
<% end %>
<% unless @user.state.nil? %>
<%= @user.state %> <br>
<% end %>
<br>
<% unless @user.website.nil? %>
<%= @user.website %> <br>
<% end %>

<% unless @user.twitter.nil? %>
<%= @user.twitter %> <br>
<% end %>

<% unless @user.facebook.nil? %>
<%= @user.facebook %> <br>
<% end %>
<% unless @user.phone.nil? %>
<%= @user.phone %> <br>
<% end %>
<br>
<h2>Needs</h2>
<br>
<h2>Service</h2>
<br>
<h2>Reviews</h2>
<% unless @user.updated_at.nil? %>
<%= @user.updated_at %> <br>
<% end %>

<% unless @user.role.nil? %>
<%= @user.role%> <br>
<% end %>
<% @user.reviews.each do |review| %>
  <%= review.feedback %>
<% end %>-->