<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
		<link rel="stylesheet" type="text/css" href="signup.css"/>
	</head>
	<body>
		<form>
		<div class="modal">
		<div class="modalBox">
		    <div class="boxHead">
		    	<img src="karmic-logo.svg" class="logo"/>
		    </div>
		    <div class="boxBody">
			    <label>Name</label>
		    	<input type="text" name="name" placeholder="Johnny Doe"/>
		    	<label>Email</label>
		    	<input type="email" name="email" placeholder="jdoe@karmik.co"/>
		    	<label>Password</label>
		    	<input type="password" name="pass1" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"/>
		    	<label>Confirm Password</label>
		    	<input type="password" name="pass2" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"/>
		    	<button class="addButton">Sign Up</button>
		    </div>
		</div>
		</div>
		</form>
	</body>
</html>

<!--<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>-->