<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
		<%= stylesheet_link_tag 'search.css' %>
		<link rel="stylesheet" type="text/css" href="search.css"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="headerWrapper">
			<div class="header">
				<%= image_tag 'karmic-logo.svg', class: 'logo' %>
				<div class="navLinks">
					<%= link_to search_path, class: 'navLink' do%>
						<div>Search</div>
					<% end %>
					<%= link_to profile_path(current_user), class: 'navLink' do %>
             <div><%= current_user.name %></div>
          <% end %>
          <% if user_signed_in? %>
						<%= link_to destroy_user_session_path, method: :delete, class: 'navLink' do %>
							<div>Sign Out</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<form>
		<div class="heroWrapper">
			<div class="hero">
				<h1>Search</h1>
				<%= form_tag do %>
					<div class="heroSelect">
						<select>
						    <option value="need">I Need</option>
						    <option value="give">I Can Give</option>
						</select>
						<div class="dropArrow">
							<i class="fa fa-caret-down"></i>
						</div>
					</div>
					<input type="text" placeholder="Search" name='query' value='<%= params[:query] %>' class="searchBox"/>
					<input type="submit" class="searchButton" name='submit' value="Get Results"/>
				<% end %>

			</div>
		</div>
		<div class="dashboardWrapper">
			<div class="feedWrapper">
				<div class="feedBox">
					<div class="postFeed">
						<h2 class="feedHead">
							<%= @results.count unless @results.nil? %> Results for <b><%= params[:query] %></b> in <b>San Luis Obispo, CA</b></h2>

						<% @results.each do |result| %>
							<div class="post givePost">
								<img src="<%= get_gravatar(result.post.created_by,110) %>" class="feedProfilePic"/>
								<div class="feedTextBox">
									<h3 class="postTitle"><%= result.title %></h3>
									<p><%= result.description %></p>
									<a href="#"><div class="postButton">Connect</div></a><a href="#"><div class="viewButton">View Profile</div></a>
								</div>
							</div>
						<% end %>


					</div>
				</div>
			</div>
			<div class="sidebarWrapper">
				<div class="sidebar">
					<h1>Filter Results</h1>
					<ul>
						<li><input type="checkbox" class="searchCheckbox" id="option1"/> <label for="option1">Option 1</label></li>
						<li><input type="checkbox" class="searchCheckbox" id="option2"/> <label for="option1">Option 2</label></li>																<li><input type="checkbox" class="searchCheckbox" id="option3"/> <label for="option1">Option 3</label></li>
						<li><i>Praesent quis augue tortor. Aliquam nec dolor viverra, viverra nisi eget, mollis est.</i></li>
					</ul>
				</div>
			</div>
		</div>
		</form>
		<footer><h5>&#169; Copyright Karmik 2014. All Rights Reserved.</h5></footer>
	</body>
</html>
