<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
		<%= stylesheet_link_tag 'landing.css' %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<section class="heroWrapper" data-type="background">
			<div class="navbar">
				<%= image_tag 'karmic-logo.svg', class: 'logo' %>
				<div class="navLinks">
					<%= link_to  new_user_registration_path, class: 'navLink' do %>
						<div>Sign Up</div>
					<% end %>
					<%= link_to new_user_session_path, class: 'navLink' do %>
						<div>Log In</div>
					<% end %>
				</div>
			</div>
			<div class="hero">
				<h1>Share your skills and give<br>back to your community.</h1>
				<a href="#"><div class="heroSign">Sign Up for a Free Account</div></a><div class="heroMore">or&nbsp;&nbsp;&nbsp;&nbsp;<a href="#myAnchor" class="anchorLink" href="#myAnchor" rel="" id="anchor1">Learn More ></a></div>
			</div>
		</section>
		<div class="contentWrapper orange small" name="myAnchor" id="myAnchor">
			<div class="contentBox landingBox">
				<p>This is Karmik, an online community where you can help others and give back to your local community.</p>
			</div>
		</div>
		<div class="contentWrapper">
			<div class="contentBox landingBox">
				<h1>Here's how it works:</h1>
				<%= image_tag 'howitworks.png'%>
			</div>
		</div>
		<footer><h5>&#169; Copyright Karmik 2014. All Rights Reserved.</h5></footer>
		<script type="text/javascript">
			$( document ).ready(function() {
				$('a').click(function(){
				    $('html, body').animate({
				        scrollTop: $( $(this).attr('href') ).offset().top
				    }, 500);
				    return false;
				});
			});
		</script>
	</body>
</html>
