<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
		<%= stylesheet_link_tag 'landing.css' %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="heroWrapper">
			<div class="navbar">
				<%= image_tag 'karmic-logo.svg', class: 'logo' %>
				<div class="navLinks">
					
					<%= link_to  new_user_registration_path, class: 'navLink' do %>
<div>Sign Up</div>
<% end %>
					<a class="navLink" href="#"><div>Log In</div></a>
				</div>
			</div>
			<div class="hero">
				<h1>Share your skills and give<br>back to your community.</h1>
				<a href="#"><div class="heroSign">Sign Up for a Free Account</div></a><div class="heroMore">or&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Learn More ></a></div>
			</div>
		</div>
		<div class="contentWrapper">
			<div class="contentBox landingBox">
				<h1>Urban Bartering with a Twist</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id semper lorem. Phasellus non est neque. In hac habitasse platea dictumst. Nulla vel imperdiet mauris. Nullam euismod malesuada ante, sit amet scelerisque erat porta hendrerit. Suspendisse bibendum felis sit amet malesuada ornare. Etiam condimentum massa eget urna convallis, sit amet facilisis sapien vehicula.</p>
			</div>
		</div>
		<footer><h5>&#169; Copyright Karmik 2014. All Rights Reserved.</h5></footer>
	</body>
</html>
