<!DOCTYPE html>
<html>
	<head>
		<title>Karmik</title>
	</head>
	<body>
				<div class="navbar">
				<%= image_tag 'karmic-logo.svg', class: 'logo' %>
				<div class="navLinks">
					<%= link_to  new_user_registration_path, class: 'navLink' do %>
						<div>Sign Up</div>
					<% end %>
					<%= link_to new_user_session_path, class: 'navLink' do %>
						<div>Log In</div>
					<% end %>
				</div>
			</div>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="modal">
		<div class="modalBox">
		    <div class="boxHead">
		    	<%= image_tag 'karmic-logo.svg', class: 'logo' %>
		    </div>
		    <div class="boxBody">
		    	<label><%= f.label :email %></label>
		    	<%= f.email_field :email, :autofocus => true %>
		    	<label><%= f.label :password %></label>
		    	<%= f.password_field :password %>
		    	<%= f.submit "Log in", class: "addButton" %>
		    </div>
		</div>
		</div>
		<% end %>
	</body>
</html>
